<template name="bb_alert">
    <div class="bb-alert">

        <div class="modal fade" tabindex="-1" aria-labelledby="pwix:bootbox/alert" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5">{{ title }}</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        {{{ body }}}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary js-close" data-bs-dismiss="modal">{{ button }}</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</template>
